.features.layout-05 .mod-heading-wrapper {
  margin-bottom: 4rem;
}

@media (min-width: 1200px) {
  .features.layout-05 .mod-heading-wrapper {
  }
}

.features.layout-05 .mod-sub-heading {
}

@media (min-width: 992px) {
  .features.layout-05 .mod-heading {
    font-size: 3rem;
  }
}

.features.layout-05 .mod-lead {
}

/* Global style */
.features.layout-05 .row {
  position: relative;
}

.features.layout-05 .features-media {  
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.features.layout-05 .features-media img {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border-radius: 1rem;
  display: inline-block;
}

.features.layout-05 .features-wrapper {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .features.layout-05 .features-wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 476px) {
  .features.layout-05 .features-wrapper {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.features.layout-05 .feature-item:nth-child(2n) {
  display: flex;
  justify-content: end;
}

.features.layout-05 .feature-item-inner {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  height: 100%;
  max-width: 50%;
}

.features.layout-05 .feature-media {
  display: inline-flex;
  margin-bottom: .5rem;
}

.features.layout-05 .text-center .feature-media {
  justify-content: center;
}

.features.layout-05 .text-right .feature-media {
  justify-content: end;
}

.features.layout-05 .feature-media img {
  max-width: 100%;
  max-height: 48px;
}

.features.layout-05 .feature-media svg {
  height: 48px;
}

.features.layout-05 .feature-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.features.layout-05 .feature-desc {
  opacity: .8;
}

.features.layout-05 .feature-action {
  margin-top: auto;
}

.features.layout-05 .feature-action a.btn-link {
  border-radius: 0;
  padding: 0 0 .25rem;
  position: relative;
  text-decoration: none;
}

.features.layout-05 .feature-action a.btn-link::before {
  background: rgba(0,0,0,0.15);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  width: 100%;
}

.features.layout-05 .feature-action a.btn-link::after {
  background: currentColor;
  transition: all 0.3s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 0;
}

.features.layout-05 .feature-action a.btn-link:hover,
.features.layout-05 .feature-action a.btn-link:focus,
.features.layout-05 .feature-action a.btn-link:active {
}

.features.layout-05 .feature-action a.btn-link:hover::before,
.features.layout-05 .feature-action a.btn-link:focus::before,
.features.layout-05 .feature-action a.btn-link:active::before {
  opacity: 1;
}

.features.layout-05 .feature-action a.btn-link:hover::after,
.features.layout-05 .feature-action a.btn-link:focus::after,
.features.layout-05 .feature-action a.btn-link:active::after {
  left: 0;
  width: 100%;
}