<?xml version="1.0" encoding="utf-8"?>
<form>
  <title>Social Links 01</title>
  <categories>
    <value>Social Links</value>
  </categories>
  <assets>
    <scripts>
    </scripts>
    <stylesheets>
      <path>/assets/css/style.css</path>
    </stylesheets>
  </assets>
  <fields>

    <fieldset name="icon_style" label="" description="">
      <field name="custom_text" type="text" label="Custom Text" description="" filter="safehtml" />
      <field name="social_icon_size" type="list" default="sm" label="Icon Size" description="">
        <option value="sm">SM (16 x 16)</option>
        <option value="md">MD (24 x 24)</option>
        <option value="lg">LG (36 x 36)</option>
      </field>
      <field name="link_color" type="color" default="#374151" label="Link Color" description="" />
      <field name="link_hover_color" type="color" default="#15803d" label="Link Hover Color" description="" />
      <field name="social_link_target" type="list" default="_blank" label="Link Target" description="">
        <option value="_blank">Blank</option>
        <option value="_self">Self</option>
        <option value="_parent">Parent</option>
      </field>
    </fieldset>

    <fieldset name="social-links" label="" description="">
      <field name="social_item" type="subform" label="Social Item" description="" multiple="true" min="1" max="10">
        <form>          
          <field name="item_title" type="text" label="Social Title" description="" />
          <field name="item_icon" type="textarea" label="Social Icon" description="" cols="40" rows="6" filter="safehtml" />
          <field name="item_media" type="media" label="Social Media" description="" />
          <field name="item_link" type="text" label="Social Link" description="" />
        </form>
      </field>
    </fieldset>

  </fields>
</form>