<?xml version="1.0" encoding="utf-8"?>
<form>
  <title>Features 02</title>
  <categories>
    <value>Features</value>
  </categories>
  <assets>
    <scripts>
    </scripts>
    <stylesheets>
      <path>/assets/css/style.css</path>
    </stylesheets>
  </assets>
  <fields>
    <fieldset name="global_configurations" label="" description="">
      <field type="spacer" name="fl-spacer-1" class="fl-sep" label="MOD_FLEX_LAYOUT_GLOBAL_SETTINGS" />
      <field name="features_per_row" type="list" default="3" label="Item(s) per Row" description="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="6">6</option>
      </field>

      <field name="feature_item_gap" type="list" default="0" label="Item Gap" description="">
        <option value="0px">0</option>
        <option value="4px">4px</option>
        <option value="8px">8px</option>
        <option value="12px">12px</option>
        <option value="16px">16px</option>
        <option value="24px">24px</option>
        <option value="32px">32px</option>
        <option value="48px">48px</option>
        <option value="64px">64px</option>
      </field>
    </fieldset>

    <fieldset name="feature_configurations" label="" description="">
      <field type="spacer" name="fl-spacer-2" class="fl-sep" label="MOD_FLEX_LAYOUT_ITEM_SETTINGS" />
      <field name="feature_items" type="subform" label="Feature Item" description="" multiple="true" min="1" max="10">
        <form>
          <field name="feature_image" type="media" label="Feature Image" description="" />
          <field name="feature_icon" type="textarea" label="Icon Class / SVG" description="" cols="40" rows="6" filter="safehtml" />
          <field name="feature_title" type="text" label="Title" description="" />
        </form>
      </field>
    </fieldset>

  </fields>
</form>