// MOD ARTICLES GRID
// ---------------------------------------
.section.container-full {
  .container {
    max-width: 100%;
    padding: 0;
  }
}

.articles-slide-wrapper {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

ul.articles-slides {
  list-style: none;
  margin: 0;
  padding: 0;
}