.team.layout-04 .mod-heading-wrapper {
}

.team.layout-04 .mod-sub-heading {
}

.team.layout-04 .mod-heading {
}

.team.layout-04 .mod-lead {
}


/* Global style */
.team.layout-04 .team-wrapper {
  display: grid;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .team.layout-04 .team-wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 476px) {
  .team.layout-04 .team-wrapper {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.team.layout-04 .team-item {
  border-radius: .5rem;
}

.team.layout-04 .team-item-inner {
  position: relative;
  display: flex;
}

.team.layout-04 .member-info-wrapper {
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(8px);
  border-radius: .5rem;
  padding: 1rem;
  position: absolute;
  left: .5rem;
  right: .5rem;
  bottom: .5rem;
}

.team.layout-04 .member-image {
  overflow: hidden;
  display: inline-flex;
}

.team.layout-04 .member-name-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;
  margin-bottom: .5rem;
}

.team.layout-04 .team-wrapper h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.team.layout-04 .member-name-wrapper a i {
  font-size: .875rem;
}

.team.layout-04 .team-wrapper .member-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: .5rem;
  font-size: 1rem;
}

.team.layout-04 .team-wrapper .member-meta a {
  display: inline-block;
}

.team.layout-04 .team-wrapper .member-meta a:hover,
.team.layout-04 .team-wrapper .member-meta a:focus,
.team.layout-04 .team-wrapper .member-meta a:active {
  text-decoration: none;
}

.team.layout-04 .team-wrapper .member-position {
  font-weight: 600;
  opacity: .9;
}

.team.layout-04 .team-item-inner .member-desc {
  height: 0;
  opacity: .9;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
}

.team.layout-04 .team-item-inner:hover .member-desc {
  height: 120px;
  margin-top: .875rem;
}

.team.layout-04 .team-wrapper .member-social-links ul {
  display: flex;
  gap: .75rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.team.layout-04 .team-wrapper .member-social-links a {
  color: #9ca3af;
}

.team.layout-04 .team-wrapper .member-social-links a:hover,
.team.layout-04 .team-wrapper .member-social-links a:focus,
.team.layout-04 .team-wrapper .member-social-links a:active {
  color: #1d4ed8;
}

.team.layout-04 .team-wrapper .member-social-links ul i {
  font-size: 18px;
}