.slideshow-wrapper {
  .slide-item {
    height: 800px;

    @include media-breakpoint-up(lg) {
      padding: 260px 0 10rem;
    }

    .slide-sub-heading {
      font-size: var(--px-fs-sm);
      font-weight: var(--px-fw-semibold);
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .slide-heading {
      font-size: 3.5rem;
    }

    .slide-ct {
      > * {
        transform: translateY(45%) scale(0.95);
        -webkit-transform: translateY(45%) scale(0.95);
        opacity: 0;
        transition: 1500ms all;

        &:nth-child(1) {
          transition-delay: 100ms !important;
        }

        &:nth-child(2) {
          transition-delay: 300ms !important;
        }

        &:nth-child(3) {
          transition-delay: 600ms !important;
        }

        &:nth-child(4) {
          transition-delay: 900ms !important;
        }

        &:nth-child(5) {
          transition-delay: 1200ms !important;
        }
      }
    }
  }

  .active .slide-ct {
    > * {
      transform: translateY(0) scale(1);
      -webkit-transform: translateY(0) scale(1);
      opacity: 1;
      transition: 1000ms all;
    }

    .description {
      opacity: 0.7 !important;
    }
  }
}


// CTA
// --------------------------------------
.section.cta-full {
  padding: 0;

  .section-inner > .container {
    max-width: 100%;
    padding: 0;
  }

  .cta.layout-01 {
    padding-top: 16rem;
    padding-bottom: 16rem;
    position: relative;

    &::before {
      background: linear-gradient(to bottom, #fff 0%, rgba(255, 255, 255, 0) 50%);
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
    }

    &::after {
      background: rgba(0,0,0,0.4);
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    .mod-heading-wrapper,
    .mod-action {
      position: relative;
      z-index: 10;
    }

    div.mod-heading-wrapper {
      .mod-heading {
        color: var(--color-white);
        font-size: 4rem;
        font-weight: var(--px-fw-bold);
      }

      .mod-lead {
        color: var(--color-white);
        font-size: var(--px-fs-lg);
      }
    }

    div.mod-action {
      .btn.rounded {
        border-radius: 4px !important;
      }
    }
  }
}


// TESTIMONIALS
// --------------------------------------
.testimonials.layout-01 {
  .testimonial-item {
    padding: 0 calc(var(--px-gutter-x) / 2) var(--px-gutter-x);

    .testimonial-item-inner {
      border-radius: var(--px-br-md);
      border: 1px solid var(--px-border-color);
      padding: calc(var(--px-gutter-x) / 1.5);
      transition: all 0.25s ease-in-out;

      &:hover {
        border: 1px solid var(--px-primary);
        box-shadow: 4px 4px 6px rgba(0,0,0,0.1);
      }
    }

    .customer-testimonial {
      font-size: var(--px-fs-lg);
      font-style: italic;
      min-height: 14rem;
    }

    .customer-info-wrapper {
      display: flex;
      align-items: center;
      gap: calc(var(--px-gutter-x) / 2);

      .customer-image {
        border-radius: var(--px-br-sm);
        box-shadow: 4px 4px 6px rgba(0,0,0,0.1);
        max-width: 60px;
        overflow: hidden;
      }

      .customer-info {
        h4 {
          font-size: var(--px-fs-lg);
          font-weight: var(--px-fw-semibold);
          margin-bottom: 2px;
        }

        .customer-position {
          display: flex;
          align-items: center;
          gap: .25rem;
          font-size: var(--px-fs-sm);
          font-weight: var(--px-fw-semibold);
          opacity: .8;
        }

        .customer-rating {
          position: relative;
          line-height: 1;

          i {
            color: #f0f0f0;
            font-size: .75rem;
            line-height: 1;
          }

          .star-rating {
            position: absolute;
            left: 0;

            i {
              color: var(--px-primary);
            }
          }
        }
      }
    }
  }
}